#productInfoForm {
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  height: 400px;
}
#productFormTitle {
  margin: 0;
  margin-top: 5%;
}
#productForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  margin-bottom: 5%;
}
